.loginSide{
    margin: auto; !important;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #2d1505, #19b6d7, #1057b7, #0c2377);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.form-label {
    color: white !important;
}