.header {
    display: flex;
    margin: 30px;
}

.personPhoto{
    margin-right: 10px;
}

.personPhoto img {
    border: #58b5fc 3px solid;
    width: 150px;
    height: 150px;
}

.icon {
    font-size: 1.5rem;
    object-fit: contain;
}

.deleteIcon {
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    cursor: pointer;
}

.icons {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    flex: 1;
    width: 30px;
    margin-left: 1px;
}

.icons button {
    display: flex;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 5px;
}

.postManager {
    max-height: 40rem;
    overflow-y: auto;
}

.postedDiv {
    display: flex;
    border: 2px solid beige;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.postedImg {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    position: relative;
}
.postedImg img {
    border-radius: 10px;
}

.postText {
    max-width: 550px;
    word-wrap: break-word;
}

.postedDiv img {
    border: 1px solid blue;
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

.emojiContainer {
    position: absolute;
    margin-left: 3rem;
}

.textArea {
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}




