@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
$backgroundColor: #242424;
$textcolor: #000000;
$borderLeftColor: #58b5fc;

.navbar-menu {
  height: 100vh;
  background-color: $backgroundColor;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

.burgerIcon {
  display: flex;
  justify-content: flex-end;
  padding: 25px 8px 0 0;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
}
.navbar__list {
  list-style-type: none;
  margin-left: -25px;
  font-size: 1.5rem;
}
.navbar__li {
  display: inline-block;
  padding: 0 0 0 12px;
  position: relative;
  top: 2.5px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 38px;
  color: $textcolor;
  font-family: "Lato";
  font-weight: 400;
  color: #fff;
}
.navbar__li-box:first-child {
  margin-top: 53px;
}
.navbar__li-box {
  height: 43px;
  margin-top: 15px;
}
.navbar__li-box:hover {
  border-left: 7px solid $borderLeftColor;
  cursor: pointer;
}
